#container {
  margin: auto;
  margin-top: 100px;
  max-width: 500px;
  padding: 16px;
  border-radius: 20px;
  background-color: lavender;
}

input {
  border-radius: 5px;
}

li {
  margin-bottom: 8px;
}

.delete-button {
  margin-left: 16px;
}

#label {
  padding: 8px;
}

#button {
  margin-left: 8px;
  padding: 2px;
}